<section id="notifications-settings" class="hidden">
    <!-- Section Component -->
    <div class="section border-gray-300 flex-col">
        <h2 class="section-title">Basic Information</h2>
        <p class="section-description">
            This is notifications preferences that you can update anytime.
        </p>
    </div>

    <!-- Notifications -->
    <div class="section border-gray-300 flex-col lg:flex-row lg:gap-x-24">
        <div class="w-72">
            <h2 class="section-title">Notifications</h2>
            <p class="section-description">
                Customize your preferred notification settings
            </p>
        </div>

        <div class="flex flex-col gap-4 lg:mx-8 flex-grow">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="" />
                <label class="form-check-label text-sm font-medium text-gray-700" for="">
                    Applications
                    <p class="text-sm text-gray-400 mt-1 ml-5">These are notifications for jobs that you have applied to
                    </p>
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="" />
                <label class="form-check-label text-sm font-medium text-gray-700" for="">
                    Jobs
                    <p class="text-sm text-gray-400 mt-1 ml-5">These are notifications for job openings that suit your
                        profile
                    </p>
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="" />
                <label class="form-check-label text-sm font-medium text-gray-700" for="">
                    Recommendations
                    <p class="text-sm text-gray-400 mt-1 ml-5">These are notifications for personalized recommendations
                        from our recruiters
                    </p>
                </label>
            </div>
            <button class="submit-button">Update Email</button>
        </div>
    </div>
</section>