<div
    class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
    <h2>Type of Employment</h2>
    <i class="ri-arrow-down-s-line arrow"></i>
</div>

<!-- Dropdown list for employment types -->
<ul class="jobs-filter-dropdown flex flex-col gap-y-3 my-4 text-gray-700">
    <li class="flex items-center text-base">
        <input type="checkbox" id="full-time" name="employment-type" value="full-time" class="accent-green-500 h-5 w-5">
        <label for="full-time" class="ml-4"> Full-time (3)</label>
    </li>

    <li class="flex items-center text-base">
        <input type="checkbox" id="part-time" name="employment-type" value="part-time">
        <label for="part-time" class="ml-4"> Part-time (5)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="remote" name="employment-type" value="remote">
        <label for="remote" class="ml-4"> Remote (2)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="internship" name="employment-type" value="internship">
        <label for="internship" class="ml-4"> Internship (24)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="contract" name="employment-type" value="contract">
        <label for="contract" class="ml-4"> Contract (3)</label>
    </li>
</ul>

<div
    class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
    <h2>Job Categories</h2>
    <i class="ri-arrow-down-s-line arrow"></i>
</div>

<!-- Dropdown list for job categories -->
<ul class="jobs-filter-dropdown flex flex-col gap-y-3 text-gray-700">
    <li class="flex items-center text-base">
        <input type="checkbox" id="software-it" name="job-category" value="software-it">
        <label for="software-it" class="ml-4"> Software & IT (12)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="finance" name="job-category" value="finance">
        <label for="finance" class="ml-4"> Finance & Accounting (8)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="healthcare" name="job-category" value="healthcare">
        <label for="healthcare" class="ml-4"> Healthcare & Medical (5)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="marketing" name="job-category" value="marketing">
        <label for="marketing" class="ml-4"> Marketing (15)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="engineering" name="job-category" value="engineering">
        <label for="engineering" class="ml-4"> Engineering & Manufacturing (7)</label>
    </li>
</ul>

<div
    class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
    <h2>Job Levels</h2>
    <i class="ri-arrow-down-s-line arrow"></i>
</div>

<!-- Dropdown list for job levels -->
<ul class="jobs-filter-dropdown flex flex-col gap-y-3 text-gray-700">
    <li class="flex items-center text-base">
        <input type="checkbox" id="internship" name="job-level" value="internship">
        <label for="internship" class="ml-4"> Internship (10)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="entry-level" name="job-level" value="entry-level">
        <label for="entry-level" class="ml-4"> Entry Level (12)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="mid-level" name="job-level" value="mid-level">
        <label for="mid-level" class="ml-4"> Mid Level (8)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="senior-level" name="job-level" value="senior-level">
        <label for="senior-level" class="ml-4"> Senior Level (6)</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="manager" name="job-level" value="manager">
        <label for="manager" class="ml-4"> Manager (4)</label>
    </li>
</ul>

<div
    class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
    <h2>Salary Range</h2>
    <i class="ri-arrow-down-s-line arrow"></i>
</div>

<!-- Dropdown list for salary ranges -->
<ul class="jobs-filter-dropdown flex flex-col gap-y-3 text-gray-700">
    <li class="flex items-center text-base">
        <input type="checkbox" id="salary-range1" name="salary-range" value="20000-40000">
        <label for="salary-range1" class="ml-4"> $20,000 - $40,000</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="salary-range2" name="salary-range" value="40000-60000">
        <label for="salary-range2" class="ml-4"> $40,000 - $60,000</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="salary-range3" name="salary-range" value="60000-90000">
        <label for="salary-range3" class="ml-4"> $60,000 - $90,000</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="salary-range4" name="salary-range" value="90000-120000">
        <label for="salary-range4" class="ml-4"> $90,000 - $120,000</label>
    </li>
    <li class="flex items-center text-base">
        <input type="checkbox" id="salary-range5" name="salary-range" value="120000-plus">
        <label for="salary-range5" class="ml-4"> $120,000+</label>
    </li>
</ul>