<!-- Logo Section -->
<div class="text-gray-700 text-2xl font-bold">
    <i id="btn-sidebar-toggle"
       class="ri-menu-fill mr-4 cursor-pointer inline-block lg:hidden"></i>
    <a href="{% url 'home' %}">{{ page_name }}</a>
</div>
<div class="flex justify-center items-center gap-x-4">
    <a href="{% url 'home' %}"
       class="text-green border-[1px] border-green hover:bg-secondary-green hover:text-primary px-4 py-2 ease-out duration-300">
        Back to homepage
    </a>
    <i class="ri-notification-2-line text-2xl font-bold"></i>
</div>
