{% extends 'base.html' %}
{% block title %}
    Permission Denied
{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
    <div class="bg-gray-100 px-2 text-center">
        <div class="h-screen flex flex-col justify-center items-center">
            <h1 class="text-5xl lg:text-8xl font-extrabold text-red-500">Permission Denied</h1>
            <p class="text-4xl font-medium text-gray-800">Sorry!</p>
            <p class="text-xl text-gray-800 mt-4">
                You don’t have permission to post a job. Only recruiters are allowed to post new job listings.
            </p>
            <a href="{% url 'home' %}"
               class="text-primary-green border-[1px] border-primary-green hover:bg-primary-green hover:text-white px-4 py-3 mt-4 rounded-lg shadow-lg ease-out duration-300">
                Back to homepage
            </a>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock footer %}
